<div ng-controller="WelcomeController as wlc">
<h2>Am here</h2>
<% [1,2,3,4,10].each do |e| %>
    <%= e * 2 if e > 3 %>
<% end %>

  <div ng-include="'/assets/components/welcome.html'"></div>
  <div ng-include="'/assets/components/mon.html.erb'"></div>

<p>{{firstname}} {{lastname}}</p>
<input type="text" ng-model="mon"/>
{{mon}}
</div>